<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>RichPanel Ripu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'><link rel="stylesheet" href="./register.css">

</head>
<body>
<div class="form">
  <div class="form-panel one">
    <div class="form-header">
      <h1>Create Account</h1>
    </div>
    <div class="form-content">
      <form>
        <div class="form-group">
            <label for="username">Name</label>
            <input type="text" id="username" name="username" required="required"/>
          </div>
        <div class="form-group">
          <label for="username">Email</label>
          <input type="text" id="username" name="username" required="required"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required="required"/>
        </div>
        <div class="form-group">
          <label class="form-remember">
            <input type="checkbox"/>Remember Me
          </label>
        </div>
        <div class="form-group">
          <button type="submit">Sign Up</button>
        </div>
        <div class="form-link">
          Already have an account? <a href="./index.html">Login</a>
      </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
